* {
  box-sizing: border-box;
  font-family: "tahoma", sans-serif;
}
.content-title {
  font-size: 20px;
  padding-bottom: 5px;
}

.content {
  background-color: #858385;
    padding: 15px;
    margin-bottom: 20px;
}

.main-title {
  margin-bottom: 35px;
}

.nav.navbar-nav li a{
/*  border: 2px solid blue;*/
  font-weight: 200;
    font-size: 1.5em;
}

.nav.navbar-nav li:nth-child(2) a{
  border-top: 0;
  border-bottom: 0;
}

.navbar-brand {
  font-size: 25px;
}

a[href="#top"] {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 767px) {
  .content {
    margin-right: 30px;
    margin-left: 30px;
  } 
}
